
<body>
  <p>Dining at Wonderla Amusement Park,</p>
  <table  width = "100%" height="100px" >
    <tr>
      <td><img src='assets/images/pexels-photo-1565982.jpeg'  width="350px" height="250px" alt=""></td>
       <td width="75%" height="100px"><p>Park View Restaurant: This place serves delectable traditional Indian breakfast. So, if you arrive at the amusement park early, you must visit this place.
        Chillies Restaurant: From quick bites to full meals, Chillies Restaurant has a wide range of options.
        Waves Restaurant: This multi-cuisine restaurant serves combo meals, including kebabs, biryanis, and Chinese dishes. You can also eat a variety of non-vegetarian foods at this restaurant.
        Galaxy AC Restaurant: If you prefer a vegetarian or non-vegetarian buffet, you must try Galaxy Restaurant.
        Food Court: Like any other, the food court serves a range of delicacies, refreshments, and ice creams.
        Buffet Lunch: For buffet lunch, you must make a prior booking and the amusement park will arrange it for you.</p></td>
        
       </tr>    
    </table>
        <p>Here are some of the great Indian thalis that are nothing less than a grand feast. </p>
        <p>Each of them celebrate their region along with its delicacies:</p>
  <table  width = "100%" height="100px" >
    <tr>
       <td width="75%" height="100px"><p>1. Haryanvi ThaliOffering a rustic and earthy experience, 
        you will find the Haryanvi thali loaded with simple delicacies and heaps of homemade desi ghee or white butter. 
        The Haryanvi thali comprises of local staples such as Kachri ki Sabji, 
        Khichdi, Hara Dhania Cholia, Bajra Aloo ki Roti or Besan Masala Roti along with desserts like Alsi ki Pinni, 
        Meethe Chawal or Bhura Ghee Roti. It is often accompanied with a tall glass of homemade lassi to wash down the grand meal.
     </p></td>
     <td><img src='assets/images/pexels-photo-958545.jpeg'  width="350px" height="250px" alt=""></td>
    </tr>    
 </table>
 <table  width = "100%" height="100px" >
  <tr>
   <td><img src="assets/images/pexels-photo-1624487.jpeg" height="250px" width="350px" alt=""></td>
   <td width="75%" height="100px"><p>2. Maharashtrian ThaliMaharashtrian food is characterized by slightly spicy flavours.
   The traditional thali will showcase the scrumptious staples of the state which includes Aamras, 
    Kosimbir, Bhakri roti (a millet flatbread), Bharli Vangi (stuffed brinjal), pitla (thick chickpea flour curry), 
    Amti (spicy and tangy toor lentil), Pandhra Rassa (chicken in white gravy), Mutton Kolhapuri (fiery mutton gravy), 
    Sabudana Vada and desserts like kheer or Basundi (sweetened dense milk dessert).</p></td>
    </tr>
    </table>
    <table  width = "100%" height="100px" >
      <tr>
       <td width="75%" height="100px"><p> 3. Goan ThaliGoan food is synonymous with sea food and so a Goan thali cannot be complete without some fish preparations and other local favourites. 
    A typical Goan meal would consist of steamed rice, Sheet Kodi Nustea (fish curry), Kismur (salad made with fresh grated coconut and pan fried prawns), 
    Poi (a butterfly-shaped bread), Mackerel Rawa Fry along with Sol Kadi (kokum-coconut milk drink). 
    Some of the thalis may also include the famous Vindaloo Curry, Rice Bhakri, and Goan Banana Halwa.</p></td>
    <td><img src="assets/images/pexels-photo-954677.jpeg" height="250px" width="350px" alt=""></td>
  </tr>
  </table>
  <table  width = "100%" height="100px" >
    <tr>
     <td><img src="assets/images/thali_620x350_71507031336.webp" height="250px" width="350px" alt=""></td>
     <td width="75%" height="100px"><p>4. Rajasthani ThaliThe Rajasthani thali has a mix of colourful dishes and some local hits that you would hate to miss out on. 
        The elaborate menu consists of Dal Baati Churma, Missi Roti with Gatte ki Sabji, Panchmela Dal, Laal Maas and Bajra Roti along with flavoured buttermilk. 
        For desserts, you have Gondh ke Laddoo and Malpuas to treat your sweet tooth.</p></td>
      </tr>
      </table>
      <table  width = "100%" height="100px" >
        <tr>
         <td width="75%" height="100px"><p>5. Assamese Thali or Aalohir ExajA traditional Assamese meal begins with a delicacy called Khar, 
        which is a curry made with raw papaya, lentils and powdered dry banana skins. 
        This is followed by Pura (smoked meat), Poitabhat (cooked rice garnished with chillies, onions and mustard oil), Shaak Bhaji, Pitika and fritters known as Bor along with pickles. 
        The meal ends with a delicious Rice Payas or Narikolor Laru (coconut laddoos).</p></td>
        <td><img src="assets/images/thali_625x350_51500894939 (1).webp" height="250px" width="350px" alt=""></td>
      </tr>
      </table>
        <p>This are the main thalis that everyony has a try in them</p>
        <a herf="#" style="float:right">MUST AND SHOUID
          <option value="UNDER(5-55)ONLY">AGE UNDER(5-55)ONLY</option><br>
          </a>

    </body>