body{

	position:relative;
}

  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 a:link,a:visited{
  background-color: black;
  color:white;
  padding:10px 15px 20px;
  text-align:center;
  display: inline;
  margin-left: 22px;
  margin-right: 100px;
}
a:hover,a:active{
  background-color: brown;
}