
<br><br>
<body>
    
      <div class="title">ADVENTURE'S AT ANYTIME</div><br>
      <div class="sub_title">HAPPY MOMENTS</div>
      <br>
          <p>UNEND ADVENTURES BY MILSTONE</p><br>
          
      <img src="assets/1.jpg" height="250px" width="270px" alt="">
      <img src="assets/2.jpg" height="250px" width="270px" alt="">
      <img src="assets/3.jpg" height="250px" width="270px" alt="">
      <img src="assets/4.jpg" height="250px" width="270px" alt="">
      <img src="assets/5.jpg" height="250px" width="261px" alt="">
      <p> Water Rides:</p><br>
      <p>Harakiri: In this thrilling water ride, the water slide will take you down until a certain spot, even out at mid-way, and then take you down the slide again. When you reach the bottom, the force of your momentum will carry you up a small distance.
        Mammoth: This is an excellent choice for both kids and adults. In Mammoth water slide, you sit on a rubber raft and ride down the curves and loops before landing in a shallow pool.
        Uphill Racers: In this fun ride, you will be supported by a rubber plank that will take you up and down several times before landing you in a pool of water.
        Drop and Tornado: These are special water slides with tube-like structures that twist and turn. The tube will take you through these twists and turns before dropping you into a pool of water.</p>
      <img src="assets/6.jpg" height="250px" width="270px" alt="">
      <img src="assets/7.jpg" height="250px" width="270px" alt="">
      <img src="assets/8.jpg" height="250px" width="270px" alt="">
      <img src="assets/9.jpg" height="250px" width="270px" alt="">
      <img src="assets/10.jpg" height="250px" width="261px" alt="">
     <p>
        Land Rides:
        </p><br>
        <p>
        Sky Wheel: Popular as the second-highest Ferris wheel in the country, Sky Wheel is one of the main attractions here. It will take you to the top of the tower, where you will be able to enjoy enticing views of the city.
        Pirate Ship: This is similar to a huge swing in the shape of a wooden ship. The ship swings to a 180-degree arc and is perfect for those seeking an adrenaline rush.
        Mission Interstellar: If you want to know how space travel looks like, Mission Interstellar is a must-watch. As you sit in a capsule with a 4K resolution navigation screen, you will enjoy a delightful virtual ride to the stars.
        Grand Prix: This is a must-try for every car lover. You get to race a miniature car on a life-sized platform while listening to catchy music.
        High Thrill Rides
        Maverick: This ride is all about twists, turns, and tilts, as the name implies. It will also swivel, turn upside down, and move you in every direction possible.
        Equinox: If you want a high level of adrenaline rush, Equinox is a wonderful option. The riders travel upside down at an exhilarating speed of 70 kmph after reaching the peak.
        Twin Flip T Rex: This is the ultimate ride for adrenaline junkies. Riders sit at the ends of a huge dinosaur figurine’s robotic arms, spinning and swirling.
        Spam Jam: This ride ascends and descends in both clockwise and anti-clockwise directions. You must also be prepared for sudden accelerations and drops in between rides.
       </p><br>

      <img src="assets/11.jpg" height="250px" width="270px" alt="">
      <img src="assets/12.jpg" height="250px" width="270px" alt="">
      <img src="assets/13.jpg" height="250px" width="270px" alt="">
      <img src="assets/14.jpg" height="250px" width="270px" alt="">
      <img src="assets/15.jpg" height="250px" width="261px" alt="">
      <p>Kids’ Rides</p><br>
        <p>Kiddies Wheel: This miniature version of the giant wheel is a hit with kids. It is full of fun and has no scary moments.
        Coco Cup: Another cute and wonderful option for your little ones to enjoy a fun ride in colourful sets of cups and saucers.
        Flying Jumbo: This wavy merry-go-round ride on the back of a flying elephant is an absolute must-try. The elephants move vertically as well, adding to the fun element.
        Circus Train: Little ones adore this small and colourful train that transports them around the circuit
       <p>
        Aren’t you looking forward to spending a memorable day at Wonderla Amusement Park
        So, what are you waiting for?
        Plan a trip to this amazing place with your loved ones or friends to satisfy your appetite for fun and adventure.
        </p>
        <a herf="#" style="float:center">
        <div class="btns">
          <button>Learn More</button>
          <button>Subscribe</button>
            </div></a>
    
    
  </body>
